* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 1349px;
    height: 1569px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

input {
    border-radius: 4px;
}
#container {
    height: 1569px;
    width: 960px;
    margin: 0 195px;
    padding: 0 15px;
    max-width: 960px;
    text-align: left;
    /* background-color: lightblue; */
}

#header {
    width: 930px;
    height: 314px;
    text-align: center;
    padding: 48px 0;
    /* background-color: mediumorchid; */
}
#header img {
    height: 85px;
    width: 85px;
    margin: 0 425px 20px 425px;
}
#header h2 {
    font-size: 32px;
    font-weight: 500px;
    height: 38px;
    width: 930px;
    margin: 0 0 8px 0;
}
#header p {
    font-size: 20px;
    font-weight: 300;
    height: 60px;
    width: 930px;
    margin: 0 0 16px 0;
}
#main-content {
    height: 1107px;
    width: 960px;
    margin: 0 -15px;
    text-align: left;
    display: flex;
    flex-direction: row;
    /* background-color: orange; */ 
}
#billing {
    height: 1107px;
    width: 639px;
    /* background-color: lightsalmon; */
    font-size: 16px;
    line-height: 24px;
    padding: 0 15px 0 15px;
}
#billing h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    height: 28.8px;
    width: 610px;
    margin: 0 0 16px 0;
}

#fullName, #addressCont, #cardInfo2  {
    display: flex;
    flex-direction: row;
    height: 86px;
    width: 640px;
    font-size: 16px;
    line-height: 24px;
    margin: 0 -15px 0 -15px;
}
#firstName, #lastName {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 320px;
    padding: 0 15px 0 15px;
}
#firstName input, #lastName input {
    height: 38px;
    width: 290px;
    padding: 6px 12px 6px 12px;
    border: 1px solid grey;
}
#username, #email, #address, #address2 {
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 620px;
    margin: 0 0 16px 0;
}
#username label {
    height: 24px;
    margin: 0 0 8px 0;
    width: 71px
}
#divDalamUsername {
    display: flex;
    flex-direction: row;
}
#divDalamUsername span {
    text-align: center;
    background-color: rgb(194, 192, 192);
    border: 1px solid rgb(194, 192, 192);
    color: grey;
    height: 38px;
    width: 41px;
    padding: 6px 12px 6px 12px
}
#divDalamUsername input {
    font-size: 16px;
    line-height: 24px;
    height: 38px;
    width: 569px;
    border: 1px solid grey;
    padding: 6px 12px 6px 12px;
}
#email label, #address label, #address2 label {
    height: 24px;
    width: 174px;
    margin: 0 0 8px 0;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    line-height: 24px
}
#email label span, #address2 label span {
    font-size: 16px;
    line-height: 24px;
    color: grey;
    display: inline;
    margin-left: 5px;
}
#email input, #address input, #address2 input{
    font-size: 16px;
    line-height: 24px;
    height: 38px;
    width: 610px;
    border: 1px solid grey;
    padding: 6px 12px 6px 12px
}
#country, #state, #zip {
    font-size: 16px;
    line-height: 24px;
    height: 70px;
    width: 266px;
    margin: 0 0 16px 0;
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
}
#country label, #state label, #zip label  {
    height: 24px;
    margin: 0 0 8px 0;
    font-size: 16px;
    line-height: 24px;
}
#country label {
    width: 56px;
}
#state label {
    width: 35px;
}
#zip label {
    width: 22px;
}
#country select, #state select, #zip input  {
    font-size: 16px;
    line-height: 24px;
    height: 38px;
    border: 1px solid grey;
    padding: 6px 28px 6px 12px;
    color: grey;
    border-radius: 4px;
}
#country select {
    width: 236px;
}
#state select {
    width: 183px;
}
#zip input {
    width: 130px;
}
hr {
    height: 0px;
    width: 610px;
    margin: 16px 0 24px 0;
    border-top: 1px solid grey;
}
#sameAddressCheck, #saveInfoCheck, #cc, #dc, #paypal {
    height: 24px;
    width: 610px;
    font-size: 16px;
    line-height: 24px;
    padding: 0 0 0 24px
}
#sameAddressCheck label {
    height: 24px;
    width: 657px
}
#saveInfoCheck label {
    height: 24px;
    width: 243px
}
#cardInfo {
    font-size: 16px;
    line-height: 24px;
    height: 110px;
    width: 640px;
    display: flex;
    flex-direction: row;
    margin: 0 -15px 0 -15px
}
#cardName, #cardNum {
    height: 94px;
    width: 320px;
    display: flex;
    flex-direction: column;
    margin: 0 0 16px 0;
    padding: 0 15px 0 15px
}
#cardName label, #cardNum label {
    height: 24px;
    width: 170px;
    margin: 0 0 8px 0
}
#cardName input, #cardNum input {
    height: 38px;
    width: 290px;
    padding: 6px 12px 6px 12px;
}
#cardName small {
    font-size: 12.8px;
    line-height: 19.2px;
    color: grey
}
#exp {
    height: 70px;
    width: 160px;
    display: flex;
    flex-direction: column;
    margin: 0 0 16px 0;
    padding: 0 15px 0 15px
}
#cvv {
    height: 94px;
    width: 320px;
    display: flex;
    flex-direction: column;
    margin: 0 0 16px 0;
    padding: 0 15px 0 15px
}
#exp label, #cvv label {
    height: 24px;
    width: 70px;
    margin: 0 0 8px 0
}
#exp input, #cvv input {
    height: 38px;
    width: 130px;
    padding: 6px 12px 6px 12px
}
#checkout {
    height: 47.6px;
    width: 640px;
    font-size: 20px;
    line-height: 30px;
    margin: 0 -15px 0 -15px;
    background-color: rgb(23, 83, 233);
    border: 1px solid rgb(23, 83, 233);
    color: white;
    vertical-align: middle;
    border-radius: 6px;
    cursor: pointer;
}
#cart {
    height: 1083px;
    width: 319px;
    /* background-color: lightslategray; */
    padding: 6px 12px 6px 12px;
    display: flex;
    flex-direction: column;
}
#cart h4 {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    height: 28.67px;
    width: 269.7px;
    margin: 0 0 16px 0
}
#yourCart {
    height: 28.67px;
    width: 180px;
    color: grey;
    display: block;
}
#numCart {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    background-color: grey;
    color: white;
    height: 27px;
    width: 31.9px;
    margin-left: 80px;
    padding: 5px 11px 5px 11px;
    border-radius: 160px;
}
#product1, #product2, #product3, #discount, #total {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    line-height: 20px;
    height: 64.6667px;
    width: 269.771px;
    margin: 0 0 -1px 0;
    padding: 12px 20px 12px 20px;
    border: 1px solid rgb(170, 165, 165);
    border-radius: 4px;
}
#product1, #product2, #product3, #total {
    background-color: white;
}
#discount {
    background-color: rgb(170, 165, 165);
    color: green
}
h6 {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    height: 18.6667px;
}
#kata1 h6 {
    width: 110px
}
#kata2 h6 {
    width: 114.9px
}
#kata3 h6 {
    width: 91.9px
}
#kataDiscount h6 {
    width: 100px;
}
#kata1 small, #kata2 small, #kata3 small {
    font-size: 12.8px;
    line-height: 16px;
    color: grey;
    display: inline;
}
#kata3 small {
    width: 120px
}
#kataDiscount small {
    font-size: 12.8px;
    line-height: 19px;
}
#product1 span, #product2 span, #product3 span {
    font-size: 16px;
    line-height: 20px;
    color: grey;
    height: 39.2px}
#product1 span {
    width: 25.875px;
    margin-left: 97px;
}
#product2 span {
    width: 17.25px;
    margin-left: 100px;
}
#product3 span {
    width: 13px;
    margin-left: 122px;
}
#discount span {
    font-size: 16px;
    line-height: 20px;
    height: 43.2px;
    width: 23.65px;
    margin-left: 105px
}
#total span {
    height: 24px;
    width: 85px;
    margin-top: 10px;
}
#total strong {
    height: 24px;
    width: 27.6px;
    margin: 10px 0 0 115px;
}
#inputPromo {
    font-size: 16px;
    line-height: 20px;
    height: 56px;
    width: 269.771px;
    border: 1px solid rgb(170, 165, 165);
    border-radius: 4px;
    background-color: white;
    padding: 8px 8px 8px 8px;
    margin-top: 15px
}
#inputPromo input, #inputPromo button {
    height: 38px;
    border: 1px solid  grey;
    padding: 6px 12px 6px 12px
}
#inputPromo input {
    width: 149.587px;   
}
#inputPromo button {
    width: 90.4125px;
    background-color: grey;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
#footer {
    height: 100px;
    width: 930px;
    margin: 48px 0;
    padding: 48px 0 0 0;
    /* background-color: seagreen; */
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}
#footer p {
    color: rgb(66, 62, 62);
}
#footer ul {
    height: 24px;
    width: 930px;
    margin: 0 0 16px 0;
    color: #0056B3;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
#fa1, #fa2, #fa3 {
    margin-right: 10px;
    text-decoration: none;
}
#fa1:hover, #fa2:hover, #fa3:hover {
    margin-right: 10px;
    text-decoration: underline;
}